* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html {
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .navigation-bar ul {
  display: flex;
  gap: 10px;
}
.header {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 0) and (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
}

.footer {
  width: 100%;
  padding: 40px;
  border-top: 1px solid #ccc;
}

.custom-carousel-page .main-container {
  padding-block: 20px;
}
.custom-carousel-page .main-container .custom-carousel {
  width: 100%;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.custom-carousel-page .main-container .custom-carousel [class^=custom-carousel-arrow] {
  width: -moz-max-content;
  width: max-content;
  background: none;
  border: none;
}
.custom-carousel-page .main-container .custom-carousel [class^=custom-carousel-arrow].disabled {
  opacity: 0.25;
  pointer-events: none;
}
.custom-carousel-page .main-container .custom-carousel [class^=custom-carousel-arrow] i {
  font-size: 30px;
}
.custom-carousel-page .main-container .custom-carousel .custom-carousel-inner {
  flex: 1;
  overflow: hidden;
}
.custom-carousel-page .main-container .custom-carousel .custom-carousel-inner .custom-carousel-slides {
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
}
.custom-carousel-page .main-container .custom-carousel .custom-carousel-inner .custom-carousel-slides > * {
  padding-inline: 5px;
  flex: 0 0 calc(100% / var(--items-in-view));
  max-width: calc(100% / var(--items-in-view));
}
.custom-carousel-page .main-container .custom-carousel .custom-carousel-inner .custom-carousel-slides > * * {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.custom-carousel-page .main-container .custom-carousel .custom-carousel-indicators {
  flex: 0 0 100%;
  margin-top: 10px;
  padding-inline: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.custom-carousel-page .main-container .custom-carousel .custom-carousel-indicators .custom-carousel-indicator {
  height: 15px;
  width: 15px;
  background: rgba(0, 0, 0, 0.025);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.custom-carousel-page .main-container .custom-carousel .custom-carousel-indicators .custom-carousel-indicator.active {
  background-color: rgba(0, 0, 0, 0.25);
}

.images-page .main-container {
  padding: 40px;
}
.images-page .main-container .images-container {
  width: 100%;
}
.images-page .main-container .images-container .main-image {
  margin-bottom: 20px;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
@media (min-width: 0) and (max-width: 768px) {
  .images-page .main-container .images-container .main-image {
    width: 100%;
  }
}
.images-page .main-container .images-container .main-image .image-rollover-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.images-page .main-container .images-container .main-image .image-rollover-container:hover {
  opacity: 1;
}
@media (min-width: 0) and (max-width: 768px) {
  .images-page .main-container .images-container .main-image .image-rollover-container {
    display: none;
  }
}
.images-page .main-container .images-container .main-image img {
  min-width: 400px;
  max-width: 400px;
  aspect-ratio: 1/1;
}
@media (min-width: 0) and (max-width: 768px) {
  .images-page .main-container .images-container .main-image img {
    min-width: unset;
    max-width: 100%;
  }
}
.images-page .main-container .images-container .lightbox-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
@media (min-width: 0) and (max-width: 768px) {
  .images-page .main-container .images-container .lightbox-images {
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  }
}
.images-page .main-container .images-container .lightbox-images img {
  cursor: pointer;
}

.tabs-page .tabs-container .tab-navigation {
  display: flex;
}
.tabs-page .tabs-container .tab-navigation .tab-link {
  padding: 10px 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f9f9f9;
}
.tabs-page .tabs-container .tab-navigation .tab-link:not(:last-child) {
  border-right: none;
}
.tabs-page .tabs-container .tab-navigation .tab-link.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
.tabs-page .tabs-container .tab-contents .tab-content {
  max-height: 0;
  padding-inline: 20px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.tabs-page .tabs-container .tab-contents .tab-content.active {
  min-height: 200px;
  max-height: 1000px;
  padding-block: 20px;
  opacity: 1;
  border: 1px solid #ccc;
}/*# sourceMappingURL=main.css.map */