* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100vw;
    overflow: hidden;

}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

img {
    height: auto;
    max-width: 100%
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

@import "./components/_custom-carousel";