.images-page {
    .main-container {
        padding: 40px;

        .images-container {
            width: 100%;

            .main-image {
                margin-bottom: 20px;
                position: relative;
                width: max-content;

                @include at-breakpoint(0, $md) {
                    width: 100%;
                }

                .image-rollover-container {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    opacity: 0;
                    transition: opacity 0.3s ease;

                    &:hover {
                        opacity: 1;
                    }

                    @include at-breakpoint(0, $md) {
                        display: none;
                    }
                }

                img {
                    min-width: 400px;
                    max-width: 400px;
                    aspect-ratio: 1/1;

                    @include at-breakpoint(0, $md) {
                        min-width: unset;
                        max-width: 100%;
                    }
                }
            }

            .lightbox-images {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                gap: 10px;

                @include at-breakpoint(0, $md) {
                    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
                }

                img {
                    cursor: pointer;
                }
            }
        }
    }
}