.custom-carousel {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    [class^="custom-carousel-arrow"] {
        width: max-content;
        background: none;
        border: none;

        &.disabled {
            opacity: 0.25;
            pointer-events: none;
        }

        i {
            font-size: 30px;
        }
    }

    .custom-carousel-inner {
        flex: 1;
        overflow: hidden;

        .custom-carousel-slides {
            display: flex;
            justify-content: space-between;
            transition: .3s ease-in-out;

            > * {
                padding-inline: 5px;
                flex: 0 0 calc(100% / var(--items-in-view));
                max-width: calc(100% / var(--items-in-view));

                * {
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
    }

    .custom-carousel-indicators {
        flex: 0 0 100%;
        margin-top: 10px;
        padding-inline: 5px;
        display: flex;
        justify-content: center;
        gap: 10px;

        .custom-carousel-indicator {
            height: 15px;
            width: 15px;
            background: rgba(0, 0, 0, 0.025);
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 50%;

            &.active {
                background-color: rgba(0, 0, 0, 0.25);
            }
        }
    }
}